<div class="container">
  <div class="d-flex justify-content-center">
    <% %w[L O N G E S T - W O R D].each do |letter| %>
      <div class="letter-cards">
        <%= letter %>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Enter the game", games_path, class:"home-enter-btn" %>
  </div>
</div>
