<div class="container">
  <div class="row d-flex justify-content-center">
    <h1>LONGEST WORD GAME</h1>
    <p>le jeu du mot le plus long</p>
  </div>
   <%= link_to "Enter the game", games_path, class:"btn btn-primary rounded-pill" %>
</div>

