.home-enter-btn, .custom-btn, .current-game-access-btn {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid black;
  margin-top: 100px;
  width: fit-content;

  &:hover {
    text-decoration:none;
    color:white;
    background-color:rgb(184, 143, 20);
    transition: 0.1s;

  }
}

.custom-btn {
  margin: 20px;
}

.current-game-access-btn {
  position: relative;
  bottom: 15px;
  left: 489px;
}
